html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    overflow-y: scroll;
}
  
  header {
    flex: 0 80px;
    background-color: #14572c;
    color: white;
  }

  .titleWord{
    flex-wrap: 0 80px;
    margin-left: 20px; 
    padding-top: 10px; 
  }

  .navbar{
    display: flex; 
    justify-content: space-around; 
    padding: 0;
    list-style-type: none; 
    margin: 0;
  }

  .navbar li {
    display: inline;
  }

  .navbar li a {
    display: block;
    color: white; 
    text-align: center;
    padding: 14px 20px; 
    text-decoration: none; 
  }

  main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #8b8b8b;
    overflow-y: auto;
    padding-bottom: 50px;
  }
  .container {
    max-width: 700px; 
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


.infoTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.infoTable th, .infoTable td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.infoTable th {
    background-color: #333;
    color: white;
}

.infoTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}


.dropdownSet {
    width: 100%;
    margin-bottom: 20px; 
}

.dropdownSet h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #333;
    text-align: left;
}

.dropdownContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.dropdownItem {
    display: flex;
    flex-direction: column;
    width: calc(33.33% - 20px);
    min-width: 200px;
}

.dropdownContainer label {
    font-weight: bold;
    margin-bottom: 5px;
}

.dropdownContainer select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
}

.dropdownContainer select:focus {
    outline: none;
    border-color: #007BFF;
}

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white; 
    text-align: center;
    padding: 10px 0;
    border-top: 2px solid #555; 
    z-index: 999; 
  }