body {
    display: flex;
    flex-direction: column;
    min-width: 375px;

}
  
header {
    flex: 0 80px;
    background-color: #14572c;
    color: white;
  }

  .titleWord{
    flex-wrap: 0 80px;
    margin-left: 20px; 
    padding-top: 10px; 
  }

  .navbar{
    display: flex; 
    justify-content: space-around; 
    padding: 0;
    list-style-type: none; 
    margin: 0;
  }

  .navbar li {
    display: inline;
  }

  .navbar li a {
    display: block;
    color: white; 
    text-align: center;
    padding: 14px 20px; 
    text-decoration: none; 
  }

  .navbar li a:hover {
    background-color: #575757;
    color: white; 
  }

  main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #8b8b8b;
  }

  .notesBox {
    width: 300px;  
    padding: 20px;
    background-color: #f4f4f9; 
    border: 2px solid #ccc;    
    border-radius: 10px;       
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 20px auto;         
    text-align: center;
}


.NotesTitle {
    font-size: 24px;
    font-weight: bold;
    color: #333;               
    margin-bottom: 15px;      
    text-align: center;
    border-bottom: 2px solid #ddd;  
    padding-bottom: 10px;      
}


.noteEntry {
    display: block;            
    text-decoration: none;     
    font-size: 18px;
    color: #007BFF;           
    margin: 10px 0;            
    padding: 10px;             
    border-radius: 5px;        
    background-color: #e9f5ff; 
    transition: background-color 0.3s, color 0.3s; 
}

.noteEntry:hover {
    background-color: #007BFF; 
    color: white;              
}


  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white; 
    text-align: center;
    padding: 10px 0;
    border-top: 2px solid #555; 
    z-index: 999; 
  }