.body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    

}
  
  header {
    flex: 0 80px;
    background-color: #14572c;
    color: white;
  }

  .titleWord{
    flex-wrap: 0 80px;
    margin-left: 20px; 
    padding-top: 10px; 
  }

  .navbar{
    display: flex; 
    justify-content: space-around; 
    padding: 0;
    list-style-type: none; 
    margin: 0;
  }

  .navbar li {
    display: inline;
  }

  .navbar li a {
    display: block;
    color: white; 
    text-align: center;
    padding: 14px 20px; 
    text-decoration: none; 
  }

  .navbar li a:hover {
    background-color: #575757;
    color: white; 
  }

  
  label {
    padding: 10px;
    text-align: center;
  }

  .checkBoxLabel {
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    padding: 5px 10px;
  }

  .textbox {
    transform: scale(1.5); 
  }

  
  
  .checkBoxLabel {
    font: bond;
  }

  

  footer {
    flex-shrink: 0;
    background-color: #14572c;
    color: white;
    text-align: center;
    padding: 10px 15px; /* Add padding for better spacing */
    height: auto; /* Allow it to grow if content requires more space */
    margin-top: auto; /* Push footer to the bottom of the container */
    border-top: 1px solid #ccc; /* Add a subtle separator */
    font-size: 0.9em; /* Slightly smaller text for a compact look */
    line-height: 1.4; /* Spacing between lines of text */
  }
  
  
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #8b8b8b;
    padding-bottom: 60px; 
    overflow-y: auto;
  }
  
  
  footer a {
    color: #9bd5af; 
    text-decoration: none;
  }
  
  footer a:hover {
    color: #ffffff; 
    text-decoration: underline;
  }